*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
   
.first{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.first a{
    color: dimgray;
    margin: 40px;    
}
.first a:hover {
    color:aqua;
}
.second {
    display: flex;
    justify-content :space-between  ;
    
}
.logo-docplanner
{
    display: flex;
    justify-content : flex-start   ;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.dropdown {
    
}
